*

# Project root files
!.gitignore
!.gitattributes
!requirements.txt
!Cargo.lock
!Cargo.toml
!generated
!LICENSE
!README.md

# github workflows
!.github
!.github/workflows
!.github/workflows/*.yml
!.github/workflows/*.yaml

# source code
!src
!src/*.rs

# template code
!templates/
!templates/languages.svg
!templates/overview.svg


# scripts
!scripts
!scripts/benchmark.sh
!scripts/generate_images.py
!scripts/github_stats_cache.py
!scripts/github_stats.py
!scripts/test_performance.py
